{
  "extends": [
    "react-app",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "semi": ["error", "always"],
    "sort-keys": ["warn", "asc", {"caseSensitive": false, "natural": true}],
    "no-mixed-operators": [
      "warn",
      {
        "groups": [
          ['&', '|', '^', '~', '<<', '>>', '>>>'],
          ['==', '!=', '===', '!==', '>', '>=', '<', '<='],
          ['in', 'instanceof']
        ],
        "allowSamePrecedence": true
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
